.ConsultaTematicaGeologica h3 {
  font-size: 1.2em;
}

.ConsultaTematicaGeologica h3, p {
  margin-top: 0;
}

/*Contenedor de caracter informativo*/
.contentsCtg{
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 12px;
}

select.combosCtg {
  font-size: 12px;
  width: 100%;
  height: 150px;
  color: #056896;
}

select.combosCtg option{
  padding: 5px;
  color: #056896;
  cursor: pointer;
}

select.combosCtg option:hover{
  background-color: #ddd;
  font-weight: bold;
}

/*Selector de tipo de variable*/
.menuCtg{
	width: 100%;
	margin-bottom: 12px;
	height: 30px;
  border: 1px solid #ddd;
}

/*Opciones*/
div.tabCtg {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 12px;
}


div.tabCtg button {
  background-color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 50%;
}


div.tabCtg button:hover {
    background-color: #ddd;
    font-weight: bold;
}

.methodCtg.active{
  /*background-color: #ccc;*/
  font-weight: bold;  
  border-bottom: 2px solid #898989;
}

.tabcontentCtg{
  display: block;
}

/*.tabcontentCtg.active{
  display: block;
}
*/
.execButtonCtg {
  width: 100%;
  text-align: center;
  background-color: #004c73;
  border: none;
  border-radius: 0px;
  line-height: 30px;
  vertical-align: middle;
  height: 30px;
  color: #FFF;
  cursor:pointer;
  display: inline-block;
  margin-right:15px;
  box-sizing: content-box;
}


/*Estilos de botones de dibujo*/

.drawCtg{
  padding: 1%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 3px;
  margin-bottom: 12px;
  /*background-color: #ddd;*/
}

.drawBufferCtg{
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
}

/*--------------------------------------------------------------*/

#point{
  background: url('img/point.png') no-repeat 50% 50%;
  background-color: #ddd;
}

#polyline{
  background: url('img/line.png') no-repeat 50% 50%;
  background-color: #ddd;
}

#polygon{
  background: url('img/polygon.png') no-repeat 50% 50%;
  background-color: #ddd;
}

#erase{
  background: url('img/delete.png') no-repeat 50% 50%;
  background-color: #e95453;
}

#bufferCtg{
  background: url('img/buffer.png') no-repeat 50% 50%;
  background-color: #004c73;  
}

#uploadShpCtg{
  background: url('img/upload.png') no-repeat 50% 50%;
  background-color: #76a5ce;
}


/*Estilos para el buscador de archivos locales*/
div.uploadCtg{
  height: 40px;
  width: 40px;
  border: 1px solid #ddd;
  padding: 1%;
  right: 0px;
}

div.uploadCtg:hover {
    opacity: 2;
    background-color: #004c73;

}

div.uploadCtg input[type="file"] {
    /*display: none; */
    opacity: 0;
    cursor:pointer;
    right: 0;
}

.uploadButtonCtg {
    background-color: #004c73;
    border: none;
    color: #FFF;
    cursor:pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    box-sizing: content-box;
}


/* ::::::::::::::::::::::::::::::::::::::: */
/*Estilos de la seccion de estado*/

#downloadCtg{
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

#errorCtg{
  background: url('img/error.png') no-repeat 50% 50%;
  background-size: 38px;
  height: 100px;
  opacity: 0.6;
  text-align: center;
  padding: 4%;
}

#loaderCtg {
  margin: 0 auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#downloadzipCtg{
  width: 50%;
  border: none;
  border-radius: 0px;
  line-height: 30px;
  vertical-align: middle;
  height: 30px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  box-sizing: content-box;
}

.statusCtg{
  width: 100%;
  display: none;
}


.statusCtg.active{
  display: flex;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.resultsProcessCtg{
  display: flex; 
  align-items: center;
  display: none;
  margin-top: 10px;
  height: auto;
  border: 1px solid #ddd;
  width: 100%;
  padding: 2%;
  background-color: #b7b7b7;

}

.resultsProcessCtg a{
  color: black;
  text-align: center;
}

.resultsProcessCtg span{
  text-align: center;
  cursor: pointer;
}

.resultsProcessCtg.active{
  display: block;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.bufferCtgClass{
  display: none;
  margin-bottom: 20px;
  height: 30px;
}

.bufferCtgClass.active{
  display: block;
  display: flex;
  flex-direction: row;
}